* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 20px;
  color: black;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar .nav-brand {
  display: none;
}

.navbar .nav-items {
  margin-right: 20px;
}

.navbar .nav-items .nav-link {
  font-size: 1.1rem;
  text-decoration: none;
  padding: 5px 5px;
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
  text-transform: capitalize;
}

.navbar .nav-items .nav-link:hover {
  border-radius: 5px;
  background-color: #88fff5;
}

.navbar .nav-link:hover:nth-of-type(1) {
  -webkit-box-shadow: inset 0 0 0 5px rgba(38, 78, 255, 0.411);
          box-shadow: inset 0 0 0 5px rgba(38, 78, 255, 0.411);
}

.navbar .nav-link:hover:nth-of-type(2) {
  -webkit-box-shadow: inset 0 0 0 5px rgba(38, 78, 255, 0.411);
          box-shadow: inset 0 0 0 5px rgba(38, 78, 255, 0.411);
}

.navbar .alert {
  display: none;
}

.mainpage .home {
  width: 100vw;
  background-color: silver;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainpage .home .bg {
  display: none;
}

.mainpage .home .deco {
  display: none;
}

.mainpage .home .title {
  text-transform: capitalize;
  text-align: center;
  margin-top: 20px;
}

.mainpage .home .title h1 {
  font-size: 1.7rem;
  letter-spacing: 3px;
  border-bottom: 2px solid white;
  -webkit-transition: 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.mainpage .home .title p {
  font-size: 1.7rem;
  letter-spacing: 3px;
  border-bottom: 2px solid white;
  -webkit-transition: 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
}

.mainpage .home .title:hover h1 {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.mainpage .home .title:hover p {
  -webkit-transform: scale(1.4) translateY(10px);
          transform: scale(1.4) translateY(10px);
}

.mainpage .home .maintext {
  width: 85vw;
  border-radius: 5px;
  height: 100%;
  margin-bottom: 50px;
}

.mainpage .home .maintext p {
  margin-top: 40px;
  background-color: rgba(255, 255, 255, 0.589);
  font-size: 1.2rem;
  padding: 15px;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product h1 {
  text-transform: capitalize;
  letter-spacing: 3px;
  font-size: 1.8rem;
  color: black;
}

.product .card-image {
  width: 85vw !important;
  border-radius: 5px;
  -webkit-transition: 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.product .card-image:hover {
  width: 100vw !important;
}

.product .content {
  width: 90vw;
  background-color: rgba(255, 255, 255, 0.753);
  position: relative;
  bottom: 40px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 6px;
}

.product .content h5 {
  text-transform: capitalize;
  margin: 0.4em 0;
}

.product .content p {
  font-size: 0.9rem;
  padding: 0 5px;
}

.product .content a.animated-button.thar-one {
  text-transform: uppercase;
  padding: 10px 15px;
  color: black;
  cursor: pointer;
  display: block;
  position: relative;
  border: 2px solid #000000;
  -webkit-transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.product .content a.animated-button.thar-one:hover {
  color: #000 !important;
  background-color: transparent;
  text-shadow: none;
}

.product .content a.animated-button.thar-one:hover:before {
  bottom: 0%;
  top: auto;
  height: 100%;
}

.product .content a.animated-button.thar-one:before {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 0px;
  width: 100%;
  z-index: -1;
  content: "";
  color: #000 !important;
  background: #ff0000;
  -webkit-transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
  background-color: #666666;
}

.wrapper .icon {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  -webkit-transform: translate(-50%) rotate(45deg);
          transform: translate(-50%) rotate(45deg);
  -webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}

.wrapper .mail:hover,
.wrapper .mail:hover .tooltip,
.wrapper .mail:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}

.wrapper .tel:hover,
.wrapper .tel:hover .tooltip,
.wrapper .tel:hover .tooltip::before {
  background-color: #0c8f00;
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
}

@media only screen and (min-width: 480px) {
  .navbar .user {
    margin: 0 30px;
  }
  .navbar .fas {
    font-size: 25px;
  }
  .mainpage .home {
    width: 100vw;
    background-color: silver;
    height: calc(100vh - 80px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mainpage .home .bg {
    display: none;
  }
  .mainpage .home .deco {
    display: block;
    position: absolute;
    top: 40%;
    right: 80px;
    height: 200px;
  }
  .mainpage .home .title {
    text-transform: capitalize;
    text-align: center;
    margin-top: 20px;
  }
  .mainpage .home .title h1 {
    font-size: 1.7rem;
    letter-spacing: 3px;
    border-bottom: 2px solid white;
    -webkit-transition: 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .mainpage .home .title p {
    font-size: 1.7rem;
    letter-spacing: 3px;
    border-bottom: 2px solid white;
    -webkit-transition: 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
    -webkit-transition-delay: 100ms;
            transition-delay: 100ms;
  }
  .mainpage .home .title:hover h1 {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  .mainpage .home .title:hover p {
    -webkit-transform: scale(1.4) translateY(10px);
            transform: scale(1.4) translateY(10px);
  }
  .mainpage .home .maintext {
    width: 100%;
    border-radius: 5px;
    height: 100%;
  }
  .mainpage .home .maintext p {
    width: 55%;
    margin-left: 7vw;
    margin-top: 60px;
    background-color: rgba(255, 255, 255, 0.589);
    font-size: 1.3rem;
    padding: 15px;
  }
  .wrapper .icon {
    height: 50px;
    width: 50px;
  }
  .wrapper i {
    font-size: 25px;
  }
}

@media only screen and (min-width: 868px) {
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    height: 80px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: white;
  }
  .navbar .nav-brand {
    -webkit-transition: all 900ms cubic-bezier(0.47, 1.64, 0.41, 0.8);
    transition: all 900ms cubic-bezier(0.47, 1.64, 0.41, 0.8);
    display: block;
    margin-left: 20vw;
  }
  .navbar .nav-brand .fas {
    font-size: 2rem;
  }
  .navbar .nav-brand:hover {
    -webkit-transform: rotate(360deg) scale(1.2);
            transform: rotate(360deg) scale(1.2);
  }
  .navbar .nav-items {
    margin-left: 0;
    margin-right: 5vw;
  }
  .navbar .nav-items .nav-link {
    font-size: 1.1rem;
    text-decoration: none;
    padding: 10px 25px;
    -webkit-transition: 200ms ease;
    transition: 200ms ease;
    text-transform: uppercase;
  }
  .navbar .alert {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px 20px;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 50px;
    text-transform: capitalize;
    background-color: rgba(86, 235, 255, 0.356);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    border-radius: 10px;
    -webkit-transition: 300ms;
    transition: 300ms;
  }
  .navbar .user-alert {
    right: 100px;
  }
  .navbar .cart-alert {
    right: 0px;
  }
  .navbar .cart:hover .alert {
    opacity: 1;
    top: 70px;
    visibility: visible;
  }
  .navbar .user:hover .alert {
    opacity: 1;
    top: 70px;
    visibility: visible;
  }
  .mainpage .home {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mainpage .home .deco {
    display: block;
    position: absolute;
    height: 35vh;
    top: 40vh;
    left: 80vw;
  }
  .mainpage .home .title {
    text-transform: capitalize;
    text-align: center;
    margin-top: 20px;
  }
  .mainpage .home .title h1 {
    font-size: 2.5rem;
    letter-spacing: 3px;
  }
  .mainpage .home .title p {
    font-size: 2.5rem;
    letter-spacing: 3px;
  }
  .mainpage .home .maintext p {
    padding: 30px;
    font-size: 1.6rem;
    line-height: 1.2em;
    background-color: rgba(255, 255, 255, 0.589);
  }
  .product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
  }
  .product h1 {
    text-transform: capitalize;
    letter-spacing: 3px;
    line-height: 3.5em;
    font-size: 2rem;
  }
  .product .card-image {
    width: 30vw !important;
    -webkit-transition: 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
    position: relative;
  }
  .product .card-image:nth-of-type(1) {
    margin-top: 50px;
  }
  .product .card-image:nth-of-type(odd) {
    border: 2px solid black;
    right: 17vw;
  }
  .product .card-image:nth-of-type(even) {
    border: 2px solid black;
    right: -17vw;
  }
  .product .card-image:hover {
    width: 50vw !important;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    border-radius: 10%;
    right: 0;
  }
  .product .content {
    width: 50vw;
    background-color: rgba(255, 255, 255, 0.753);
    position: relative;
    bottom: 150px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 6px;
  }
  .product .content h5 {
    font-size: 1.7rem;
    text-transform: capitalize;
    margin: 0.4em 0;
  }
  .product .content p {
    font-size: 1.2rem;
    padding: 0 5px;
  }
  .product .content a.animated-button.thar-one {
    text-transform: uppercase;
    margin: 10px;
    padding: 10px 15px;
    color: black;
    font-weight: 700;
    cursor: pointer;
    display: none;
    position: relative;
    border: 2px solid #000000;
    -webkit-transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  }
  .product .content a.animated-button.thar-one:hover {
    color: #000 !important;
    background-color: transparent;
    text-shadow: none;
  }
  .product .content a.animated-button.thar-one:hover:before {
    bottom: 0%;
    top: auto;
    height: 100%;
  }
  .product .content a.animated-button.thar-one:before {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 0px;
    width: 100%;
    z-index: -1;
    content: "";
    color: #000 !important;
    background: #ff0000;
    -webkit-transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  }
  .product .content:hover a.animated-button.thar-one {
    display: block;
  }
  .product .content:nth-of-type(odd) {
    left: 15vw;
  }
  .product .content:nth-of-type(even) {
    left: -15vw;
  }
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 25vh;
    background-color: #6d6d6d;
    width: 100vw;
  }
  .wrapper i {
    font-size: 1.7rem;
  }
  .icon:nth-of-type(even) {
    margin: 0 30px;
  }
  .wrapper .icon {
    position: relative;
    background-color: #ffffff;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    -webkit-transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 1.3rem;
    background-color: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background-color: #ffffff;
    bottom: -3px;
    left: 50%;
    -webkit-transform: translate(-50%) rotate(45deg);
            transform: translate(-50%) rotate(45deg);
    -webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  .wrapper .facebook:hover,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip::before {
    background-color: #3b5999;
    color: #ffffff;
  }
  .wrapper .mail:hover,
  .wrapper .mail:hover .tooltip,
  .wrapper .mail:hover .tooltip::before {
    background-color: #46c1f6;
    color: #ffffff;
  }
  .wrapper .instagram:hover,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip::before {
    background-color: #e1306c;
    color: #ffffff;
  }
  .wrapper .tel:hover,
  .wrapper .tel:hover .tooltip,
  .wrapper .tel:hover .tooltip::before {
    background-color: #294e21;
    color: #ffffff;
  }
  .wrapper .youtube:hover,
  .wrapper .youtube:hover .tooltip,
  .wrapper .youtube:hover .tooltip::before {
    background-color: #de463b;
    color: #ffffff;
  }
}

@media only screen and (min-width: 1024px) {
  .maintext {
    width: 75vw !important;
    margin-right: 300px;
  }
  .maintext p {
    padding: 30px;
    font-size: 1.6rem;
    line-height: 1.2em;
    background-color: rgba(255, 255, 255, 0.589);
  }
}
/*# sourceMappingURL=page2.css.map */